* {
    font-family: 'Raleway', sans-serif;
}
/* for header to be in the center */
span {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.header-name {
    font-weight: bold;
    font-size: 45px;
}
li {
    display: inline-block;
    margin: 4%;
    font-size: 20px;
    font-weight: bold;
}
ul {
  list-style: none;
    text-align: center;
}
h4 {
    font-size: x-large;
    font-weight: bolder;
}
.cursor {
    cursor:pointer;
}